data_sources.json5
secrets.json5
dyalog_log_file.dlf
video_data.csv
data/
secrets/
dcms_db/
env
DCMS.code-workspace
CI/run-tests-in-docker.sh
packages/*
!packages/apl-dependencies.txt
!packages/apl-buildlist.json
