{
  "openapi": "3.0.3",
  "info": {
    "title": "Dyalog Content Management System",
    "version": "4.0.0",
    "description": "REST API for the Dyalog Content Management System.\n\nPublic read endpoints serve cached, joined views of the data. Authenticated `/crud/*` endpoints provide direct CRUD access to individual database tables. Admin endpoints control logging, profiling, and cache refresh.\n\nAll `/crud/*` and `/admin/*` endpoints require an `X-API-Key` header. API keys are generated in the admin interface."
  },
  "servers": [
    {
      "url": "https://dcms.dyalog.com",
      "description": "API base path"
    }
  ],
  "tags": [
    {
      "name": "System",
      "description": "Version and health."
    },
    {
      "name": "Videos",
      "description": "Public read-only video endpoints (cached, joined views)."
    },
    {
      "name": "Events",
      "description": "Public read-only event endpoints."
    },
    {
      "name": "Presenters",
      "description": "Public read-only presenter endpoints."
    },
    {
      "name": "Table CRUD",
      "description": "Authenticated CRUD on database tables via parameterised `/crud/{table}` routes."
    },
    {
      "name": "Admin",
      "description": "Administrative operations: cache refresh, logging, profiling."
    }
  ],
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-Key"
      }
    },
    "parameters": {
      "TableName": {
        "name": "table",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string",
          "enum": [
            "person",
            "organisation",
            "event",
            "event_type",
            "presentation",
            "presentation_type",
            "presentation_category",
            "presenter",
            "presentation_media",
            "youtube_video",
            "media_general"
          ]
        },
        "description": "Database table name"
      },
      "TableId": {
        "name": "id",
        "in": "path",
        "required": true,
        "schema": {
          "type": "integer"
        },
        "description": "Row ID"
      },
      "YoutubeId": {
        "name": "youtube_id",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string"
        },
        "description": "11-character YouTube video ID"
      },
      "PerPage": {
        "name": "per_page",
        "in": "query",
        "schema": {
          "type": "integer",
          "minimum": 1,
          "default": 20
        },
        "description": "Number of results per page."
      },
      "Page": {
        "name": "page",
        "in": "query",
        "schema": {
          "type": "integer",
          "minimum": 1,
          "default": 1
        },
        "description": "Page number."
      }
    },
    "schemas": {
      "Error": {
        "type": "object",
        "required": [
          "error",
          "message"
        ],
        "properties": {
          "error": {
            "type": "string",
            "description": "Machine-readable error code"
          },
          "message": {
            "type": "string",
            "description": "Human-readable description"
          }
        }
      },
      "Video": {
        "type": "object",
        "properties": {
          "category": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "event": {
            "type": "string"
          },
          "event_shortname": {
            "type": "string"
          },
          "presented_at": {
            "type": "string",
            "format": "date-time",
            "description": "Presentation date as YYYY-MM-DD hh:mm:ss"
          },
          "presenter": {
            "type": "string",
            "description": "Comma-separated list of presenter names"
          },
          "presenter_id": {
            "type": "array",
            "items": {
              "type": "integer"
            },
            "description": "List of presenter IDs"
          },
          "published_at": {
            "type": "string",
            "format": "date-time",
            "description": "YouTube publish date as YYYY-MM-DD hh:mm:ss"
          },
          "thumbnail": {
            "type": "string",
            "format": "uri"
          },
          "title": {
            "type": "string"
          },
          "url": {
            "type": "string",
            "format": "uri"
          },
          "youtube_id": {
            "type": "string"
          }
        }
      },
      "PaginationEnvelope": {
        "type": "object",
        "description": "Pagination metadata wrapper. The 'data' field type varies by endpoint.",
        "properties": {
          "path": {
            "type": "string",
            "description": "The URL for this endpoint"
          },
          "per_page": {
            "type": "integer"
          },
          "current_page": {
            "type": "integer"
          },
          "from": {
            "type": "integer",
            "description": "Ordinal of the first result on this page"
          },
          "to": {
            "type": "integer",
            "description": "Ordinal of the last result on this page"
          },
          "total": {
            "type": "integer",
            "description": "Total count of results for this query, across all pages"
          },
          "first_page": {
            "type": "integer"
          },
          "last_page": {
            "type": "integer"
          },
          "first_page_url": {
            "type": "string",
            "format": "uri"
          },
          "prev_page_url": {
            "type": "string",
            "format": "uri",
            "nullable": true
          },
          "next_page_url": {
            "type": "string",
            "format": "uri",
            "nullable": true
          },
          "last_page_url": {
            "type": "string",
            "format": "uri"
          },
          "links": {
            "type": "array",
            "items": {
              "type": "object",
              "description": "Describes a numbered, previous, or next button for paginated results.",
              "properties": {
                "active": {
                  "type": "boolean"
                },
                "label": {
                  "type": "string"
                },
                "url": {
                  "type": "string",
                  "format": "uri",
                  "nullable": true
                }
              }
            }
          }
        }
      },
      "CrudItem": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          }
        },
        "additionalProperties": true,
        "description": "A table row. Fields beyond 'id' depend on the specific table."
      },
      "ToggleStatus": {
        "type": "object",
        "properties": {
          "on": {
            "type": "boolean"
          }
        },
        "required": [
          "on"
        ]
      }
    },
    "responses": {
      "Unauthorized": {
        "description": "Missing or invalid API key.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            },
            "example": {
              "error": "unauthorized",
              "message": "Missing or invalid X-API-Key header"
            }
          }
        }
      },
      "NotFound": {
        "description": "Resource not found.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            },
            "example": {
              "error": "not_found",
              "message": "The requested resource does not exist"
            }
          }
        }
      },
      "NoContent": {
        "description": "Deleted successfully. No content returned."
      }
    }
  },
  "paths": {
    "/version": {
      "get": {
        "tags": [
          "System"
        ],
        "summary": "Get API version",
        "operationId": "getVersion",
        "responses": {
          "200": {
            "description": "Version string",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "example": "4.0.0"
                }
              }
            }
          }
        }
      }
    },
    "/presenters": {
      "get": {
        "tags": [
          "Presenters"
        ],
        "summary": "List presenter names",
        "operationId": "getPresenters",
        "responses": {
          "200": {
            "description": "List of presenter names and IDs",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer"
                      },
                      "name": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/events": {
      "get": {
        "tags": [
          "Events"
        ],
        "summary": "List events",
        "operationId": "getEvents",
        "parameters": [
          {
            "name": "has_videos",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            },
            "description": "Filter whether events have videos of presentations."
          }
        ],
        "responses": {
          "200": {
            "description": "List of events",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer"
                      },
                      "title": {
                        "type": "string"
                      },
                      "type": {
                        "type": "string"
                      },
                      "start": {
                        "type": "string",
                        "format": "date",
                        "description": "YYYY-MM-DD"
                      },
                      "end": {
                        "type": "string",
                        "format": "date",
                        "description": "YYYY-MM-DD"
                      },
                      "url_slug": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/videos": {
      "get": {
        "tags": [
          "Videos"
        ],
        "summary": "Search and list videos",
        "operationId": "getVideos",
        "description": "Returns a paginated envelope of video results. All responses use the envelope format with data, pagination metadata, and navigation links.",
        "parameters": [
          {
            "name": "event_shortname",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter by event shortname"
          },
          {
            "name": "presenter",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "integer"
              }
            },
            "style": "form",
            "explode": false,
            "description": "Filter by presenter IDs (comma-separated)"
          },
          {
            "name": "search",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Full-text search across titles, descriptions, presenter names, and event names"
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "relevance",
                "newest",
                "oldest"
              ]
            },
            "description": "Sort order. Defaults to `relevance` when `search` is supplied, otherwise `newest`."
          },
          {
            "$ref": "#/components/parameters/PerPage"
          },
          {
            "$ref": "#/components/parameters/Page"
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated video results",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/PaginationEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Video"
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/videos/{youtube_id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/YoutubeId"
        }
      ],
      "get": {
        "tags": [
          "Videos"
        ],
        "summary": "Get a single video",
        "operationId": "getVideo",
        "responses": {
          "200": {
            "description": "A single video object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Video"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/videos/{youtube_id}/recommendations": {
      "parameters": [
        {
          "$ref": "#/components/parameters/YoutubeId"
        }
      ],
      "get": {
        "tags": [
          "Videos"
        ],
        "summary": "Get video recommendations",
        "operationId": "getVideoRecommendations",
        "parameters": [
          {
            "name": "n",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 5
            },
            "description": "Number of recommendations to return"
          }
        ],
        "responses": {
          "200": {
            "description": "List of recommended videos",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Video"
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/crud/{table}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/TableName"
        }
      ],
      "get": {
        "tags": [
          "Table CRUD"
        ],
        "summary": "List rows",
        "operationId": "listRows",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/PerPage"
          },
          {
            "$ref": "#/components/parameters/Page"
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of table rows.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/PaginationEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/CrudItem"
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "post": {
        "tags": [
          "Table CRUD"
        ],
        "summary": "Create rows",
        "operationId": "createRows",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/CrudItem"
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created. Returns affected records.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CrudItem"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/crud/{table}/{id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/TableName"
        },
        {
          "$ref": "#/components/parameters/TableId"
        }
      ],
      "get": {
        "tags": [
          "Table CRUD"
        ],
        "summary": "Get row by ID",
        "operationId": "getRow",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "A single table row.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CrudItem"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "patch": {
        "tags": [
          "Table CRUD"
        ],
        "summary": "Update a row",
        "operationId": "updateRow",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CrudItem"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated. Returns the updated record.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CrudItem"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "delete": {
        "tags": [
          "Table CRUD"
        ],
        "summary": "Delete a row",
        "operationId": "deleteRow",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "204": {
            "$ref": "#/components/responses/NoContent"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "description": "Delete blocked by foreign key constraint.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "error",
                    "message"
                  ],
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "fk_conflict"
                    },
                    "message": {
                      "type": "string"
                    },
                    "blocking_table": {
                      "type": "string",
                      "description": "Table holding dependent rows"
                    },
                    "dependent_count": {
                      "type": "integer",
                      "description": "Number of dependent rows, if available"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/crud/{table}/schema": {
      "parameters": [
        {
          "$ref": "#/components/parameters/TableName"
        }
      ],
      "get": {
        "tags": [
          "Table CRUD"
        ],
        "summary": "Get table column metadata",
        "operationId": "getTableSchema",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Column metadata for the table.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "table",
                    "columns"
                  ],
                  "properties": {
                    "table": {
                      "type": "string"
                    },
                    "columns": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "required": [
                          "name",
                          "type"
                        ],
                        "properties": {
                          "name": {
                            "type": "string",
                            "description": "Column name"
                          },
                          "type": {
                            "type": "string",
                            "description": "SQAPL type code (e.g. '<I', '<C128', '<D', '<C19')"
                          },
                          "length": {
                            "type": "integer",
                            "description": "Column size from database metadata"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/admin/refresh": {
      "put": {
        "tags": [
          "Admin"
        ],
        "summary": "Refresh cached API data",
        "operationId": "adminRefresh",
        "description": "Rebuilds the cached joined views served by the public read endpoints.",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "204": {
            "$ref": "#/components/responses/NoContent"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/admin/logging": {
      "get": {
        "tags": [
          "Admin"
        ],
        "summary": "Get logging status",
        "operationId": "getLoggingStatus",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Current logging status",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ToggleStatus"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "put": {
        "tags": [
          "Admin"
        ],
        "summary": "Enable or disable logging",
        "operationId": "setLoggingStatus",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "on",
            "in": "query",
            "required": true,
            "schema": {
              "type": "boolean"
            },
            "description": "Set to true to enable logging, false to disable"
          }
        ],
        "responses": {
          "200": {
            "description": "Updated logging status",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ToggleStatus"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/admin/log": {
      "get": {
        "tags": [
          "Admin"
        ],
        "summary": "Get log contents",
        "operationId": "getLog",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Log contents as plain text",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "delete": {
        "tags": [
          "Admin"
        ],
        "summary": "Clear log",
        "operationId": "clearLog",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "204": {
            "$ref": "#/components/responses/NoContent"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/admin/profiling": {
      "get": {
        "tags": [
          "Admin"
        ],
        "summary": "Get profiling status",
        "operationId": "getProfilingStatus",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Current profiling status",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "on":           { "type": "boolean", "description": "Whether ⎕PROFILE is currently collecting." },
                    "since":        { "type": ["string", "null"], "description": "Timestamp of the most recent on/off transition; null if never started." },
                    "last_cleared": { "type": ["string", "null"], "description": "Timestamp of the most recent DELETE /admin/profile; null if never cleared." }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "put": {
        "tags": [
          "Admin"
        ],
        "summary": "Enable or disable profiling",
        "operationId": "setProfilingStatus",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "on",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": ["true", "false"]
            },
            "description": "Set to true to enable profiling, false to disable. Idempotent."
          }
        ],
        "responses": {
          "204": {
            "description": "State set (or already in the requested state). No response body."
          },
          "400": {
            "description": "Missing on query parameter, or value is not true or false.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/admin/profile": {
      "get": {
        "tags": [
          "Admin"
        ],
        "summary": "Get profiling data",
        "operationId": "getProfile",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Array of profile entries",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "fn_name": {
                        "type": "string"
                      },
                      "line_no": {
                        "type": "integer"
                      },
                      "n_calls": {
                        "type": "integer"
                      },
                      "exclusive_time": {
                        "type": "number",
                        "format": "double",
                        "description": "Time in this function, excluding called functions"
                      },
                      "inclusive_time": {
                        "type": "number",
                        "format": "double",
                        "description": "Time in this function, including called functions"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "delete": {
        "tags": [
          "Admin"
        ],
        "summary": "Clear profiling data",
        "operationId": "clearProfile",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "204": {
            "$ref": "#/components/responses/NoContent"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    }
  }
}
